.o_kanban_container_view {
			display: flex;
			flex-direction: column;
			align-items: center;
}

.o_kanban_group_container_title {
			width: 100%;
			padding: 10px;
			background-color: #fff;
		 text-align: center;
}

.o_kanban_sub_container_records {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin:10px;
}

.o_kanban_sub_container_records a {
				text-decoration: none;
				margin: 10px;
}


.o_kanban_sub_container_records div {
				border: 1px solid #ddd;
				padding: 10px;
				text-align: center;
				margin: 10px;
}

.o_kanban_sub_container_records .o_kanban_sub_sub_container_record > div {
		border: none;  /* Remove border for nested elements that are not div */
}



@media screen and (max-width: 768px) {
		.o_kanban_sub_container_records {
				flex-direction: column;
				align-items: center;
		}
}

.o_kanban_sub_sub_container_record{
			margin:10px;
}

.o_kanban_sub_sub_container_record_tree {
			margin-top: 15px;
}

.o_kanban_sub_sub_container_record_tree table {
		width: 100%;
		border-collapse: collapse;
		margin-top: 10px;
}


.o_kanban_sub_sub_container_record_tree th, .o_kanban_sub_sub_container_record_tree td {
				padding: 8px;
				text-align: left;
}

.o_kanban_sub_sub_container_record_tree td {
			background-color: #fff;
}


@media (max-width: 767px) {
	.o_kanban_sub_sub_container_record_tree th, .o_kanban_sub_sub_container_record_tree td {
		display: block;
		width: 100%;
		box-sizing: border-box;
	}
}



.o_kanban_sub_sub_container_record_titles {
		height: auto; 
		width:auto;
		padding: 10px; 
}

div.o_kanban_sub_container_records div.o_kanban_sub_sub_container_record {
		height: auto;
}

.para{
		margin: 4px;
}


/* Add more product template styling */

.leaf-heading {
    color: Blue;
    font-family: Roboto;
    padding-left:10px;
}

.normal-heading {
    color: green;
    font-family: Roboto;
    padding-left:10px;
}

.products_karban_views_wrapper {
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
		}

.kanban_view_container {
		flex: 0 0 48%;
}

.product_group {
		display: flex;
		flex-wrap: wrap;
		margin-top: 10px;
}

.kanban_product {
		background-color: #ffffff;
		padding: 10px;
		border-radius: 5px;
		margin-bottom: 10px;
		order: 1px solid #ccc;
		margin: 20px;
}

.kanban_product p {
	margin : 5px
}

																																
@media only screen and (max-width: 768px) {
		.kanban_view_container {
				flex: 0 0 100%; /* Full width on smaller screens */
		}

}

.quantity-container {
    display: inline-block;
    border: 1px solid #000;
}

.quantity-container i {
    display: inline-block;
    padding: 5px;

}

.quantity-container .quantity-value {
    display: inline-block;
    border-left: 1px solid #000; /* This adds the vertical line */
    border-right: 1px solid #000;
    padding-left: 5px; /* Adjust padding as needed */
    padding-right: 5px;
}


.text-right {
    text-align: right;
}

.padded-container {
    padding-right: 300px; 
}

#extra-amount-paid:checked + label {
    color: green; /* Change text color to green */
}

#extra-amount-paid {
    display: none; /* Hide the default checkbox */
}

/* Style for checked label */
.checked {
    color: green; /* Change text color to green */
}

/* Style for checked checkbox */
#extra-amount-paid + label:before {
    content: '\2714'; /* Unicode character for checkmark */
    display: inline-block;
    font-size: 1.2em;
    margin-right: 5px;
    color: green; /* Change checkmark color to green */
}

.product_image {
    width: 200px; /* Set the desired width */
    height: auto; /* Let the height adjust automatically */
    display: block; /* Ensure that the image behaves as a block element */
    margin: 0 auto;
}

.slot-product-image{
	max-width: 50px; 
	max-height: 50px;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}