<odoo>
    <data>


                <record id="stock.menu_warehouse_report" model="ir.ui.menu">
                    <field name="groups_id" eval="[(6, 0, [ref('stock.group_stock_user'), ref('stock.group_stock_manager')])]"/>
                </record>


                <record id="stock.menu_stock_config_settings" model="ir.ui.menu">
                    <field name="groups_id" eval="[(6, 0, [ref('stock.group_stock_manager')])]"/>
                </record>



    </data>
</odoo>
