.more_qty {border: 1px solid red !important;box-shadow: 0px 0px 0px 1px red !important;}
.sh_warehouse_display {vertical-align: top;color: white;line-height: 13px;background: #6ec89b;padding: 2px 5px;border-radius: 0px;position: absolute;width: auto;top: 2px;right: 2px;}
.sh_warehouse_display.less_qty {background: red;}
.pos .popups .modal-dialog .sh_multi_warehouse_text_popup .div_wh_qty .wh_qty thead .head_td ,
.pos .popups .modal-dialog .sh_multi_warehouse_text_popup .div_wh_qty .wh_qty tfoot .footer_td { background: #4A4F59; color: #fff;  padding: 10px; font-size: 16px;font-weight: 600;text-transform: capitalize;}
.pos .popups .modal-dialog .sh_multi_warehouse_text_popup.sh_qty_popup {font-size: 16px !important;width: 600px !important;height: 450px !important;}
.pos .popups .modal-dialog .sh_multi_warehouse_text_popup.sh_qty_popup .title {margin-bottom: 0px !important;}
.pos .popups .modal-dialog .sh_multi_warehouse_text_popup.sh_qty_popup .div_wh_qty {max-height: 330px !important;overflow: auto !important;height: 330px;}
.pos .popups .modal-dialog .sh_multi_warehouse_text_popup .div_wh_qty .wh_qty .data_td {color: #4A4F59; word-break: break-word;font-weight: normal !important;text-align: center !important;text-transform: capitalize;}
.pos .popups .modal-dialog .sh_multi_warehouse_text_popup .div_wh_qty .wh_qty tbody tr{cursor: pointer;}
.pos .popups .modal-dialog .sh_multi_warehouse_text_popup .div_wh_qty .wh_qty tbody tr:hover .data_td{color: #fff !important;}
.pos .popups .modal-dialog .sh_multi_warehouse_text_popup .div_wh_qty .wh_qty tbody tr:hover{background-color: #017e84 !important;}
.pos .popups .modal-dialog .sh_multi_warehouse_text_popup .div_wh_qty .wh_qty tbody tr:nth-child(even) {background: #E0E2E6;}
.pos .popups .modal-dialog .sh_multi_warehouse_text_popup .div_wh_qty .wh_qty thead{position: sticky; top: 0; }
.pos .popups .modal-dialog .sh_multi_warehouse_text_popup .div_wh_qty .wh_qty tfoot{position: sticky;bottom: 0;}
.pos .popups .modal-dialog .sh_multi_warehouse_text_popup .div_wh_qty .qty_input_tag{min-height: 35px;padding: 5px;font-size: 16px;outline: none;border: 1px solid #dcdcdc;box-shadow: none;}
.pos .popups .modal-dialog .sh_multi_warehouse_text_popup .div_wh_qty .wh_qty thead th,.pos .popups .modal-dialog .sh_multi_warehouse_text_popup .div_wh_qty .wh_qty tbody td{padding: 10px;}

.pos .pos-content .product-screen .leftpane .order-container .orderlines .orderline > li.info{font-style: italic; margin-left: 10px;}
@media screen and (max-width: 567px) {
.pos .popups .modal-dialog .sh_multi_warehouse_text_popup{width: 100% !important;max-width: 95% !important;}
}